.jamsh {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.location {
    margin-top: 0px;
    margin-left: 10px;
}

.personal-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.my-name {
    margin-bottom: 0px;
}

.small {
    font-size: 14px;
    color: gray;
}

.quantity {
    font-size: 20px;
    margin-top: 0px;
    color: rgb(183, 176, 176);
}

.personal-data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(244, 235, 235);
    border-radius: 20px;
    margin-top: 30px;
}

.h2 {
    margin-bottom: 2px;
}

.Break {
    text-align: left;
    margin-left: 10px;
    font-weight: 500;
}

.set-times {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(223, 213, 213);
    height: 60px;
    border-radius: 30px;
}



.TotalTimeDetails {
    font-weight: 500;
    margin-top: 20px;
    text-align: left;
}

.total {
    background-color: rgb(221, 212, 212);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:700px) {
    .sideMenu {
        width: 100%;
    }

    .personal-info {
        display: flex;
        flex-direction: column;
    }

    .TotalTimeDetails {
        font-weight: 500;
        font-size: 18px;
        margin-left: 50px;
        margin-top: 20px;
        text-align: left;
    }

    .personal-data {
        display: flex;
        flex-direction: column;
        background-color: rgb(244, 235, 235);
        border-radius: 20px;
        margin-top: 30px;
        width: 60%;
        margin-left: 50px;
    }

    .h2 {
        font-size: 18px;
    }

    .Break {
        font-size: 19px;
        text-align: center
    }

    .set-times {
        display: grid;
        background-color: rgb(239, 235, 235);
        grid-gap: 0px;
        grid-template-columns: repeat(6, 1fr);
        height: 20px;
        padding-bottom: 20px;
        border-radius: 15px;
        margin-left: 50px;
    }

    .my-name {
        font-size: 19px;
    }

    .location {
        font-size: 12px;
    }
}