.body {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.card-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 30px;

}

@media screen and (max-width: 700px) {
    .card-part {
        grid-template-columns: 1fr;
    }

    .body {
        grid-template-columns: 1fr;
    }

    .card-part {
        margin-left: 0px;
    }

    .side-menu {
        position: fixed;
        top: 0px;
        text-align: center;
        background-color: #FFE0B3;
    }

}