.body {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.card-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 30px;

}

.page-title {
    font-size: 40px;
    color: orange;
    text-align: left;
    margin-left: 30px;
}

.title {
    text-align: left;
    margin-left: 30px;
}




@media screen and (max-width: 700px) {
    .body {

        grid-template-columns: 2fr 2fr;
    }

    .card-part {
        grid-template-columns: repeat(1, 2fr);
        width: 100%;
    }

    .page-title {
        font-size: 20px;
    }

    .football {
        font-size: 50px;
        display: block;
    }

    .title {
        font-size: 15px;
    }
}



/* .card-part {
    margin-left: 0px;

}

.side-menu {
    text-align: center;
    background-color: #FFE0B3;
    width: 100%;
}


.page-title {
    text-align: center;
}

.title {
    text-align: center;
} */